/* General margin & padding on page*/
* {
    margin: 0;
    padding: 0; 
}

/* Body settings */
body{
    margin: 0;
    padding: 0;
    background: url(./images/wave1.png);
    background-color: #ebf5fc;
    background-size: cover;
    font-family: 'Nunito Sans', sans-serif;

}

/* Main container */
#archiveSec{
    width: 1280px;
    height: 720px;
    margin: 0 auto;
    position: relative;
    border: 1px rgb(255, 255, 255, 0.3) solid;
    background: rgba(255, 255, 255, 0.5);
    border-width: 1px;
    border-radius: 15px;
    box-shadow: -6px -6px 20px rgba(255,255,255,0.1),
                6px 6px 20px rgba(0,0,0,0.1);
    font-family: 'Roboto', sans-serif;
}

/* Main page task overview */
.archiveOverview {
    width: 750px;
    height: 500px;
    position: absolute;
    border:none;
    box-shadow: -6px -6px 20px rgba(255,255,255,0.1),
                6px 6px 20px rgba(0,0,0,0.1);
    top: 120px;
    left: 300px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    background-color:rgb(235,245,252, 0.9);
}

#aOverviewOne{
    display: block;
}

#aOverviewTwo{
    display: none;
}

#aOverviewThree{
    display: none;
}

#aOverviewFour{
    display: none;
}

/* Top section bar */
#participant-bar {
    width: 1280px;
    margin: 0 auto;
    text-align: right;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
}

/* Hyperlink logo to main-page */
#returnImage {
    position: absolute;
    top: 595px;
    left: 1135px;
    width: 75px;
    z-index: 1;
}

#returnImage:hover {
    filter:drop-shadow(0px 0px 50px 
    rgb(0, 0, 0));
    transform: scale(1.15);
}


/* Archive task buttons */
.archiveBtns{
    position: absolute;
    width: 120px;
    height: 40px;
    border: none;
    filter:drop-shadow(0px 0px 2px 
     rgb(117, 117, 117));
    margin-top: 80px;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    border-radius: 3px;
}

#archiveBtnOne{
    margin-left: 300px;
    background-color: #A88BEB;
}

#archiveBtnOne:hover{
    transform: scale(1.1);
    z-index: 1;
}

#archiveBtnTwo{
    margin-left: 420px;
    background-color: #EC9F05;

}

#archiveBtnTwo:hover{
    transform: scale(1.1);
    z-index: 1;
}

#archiveBtnThree{
    margin-left: 540px;
    background-color: #00BFA6;
}

#archiveBtnThree:hover{
    transform: scale(1.1);
    z-index: 1;
}

#archiveBtnFour{
    margin-left: 660px;
    background-color: #3EADCF;
}

#archiveBtnFour:hover{
    transform: scale(1.1);
    z-index: 1;
}

/* Vertical line dividing main page */
.verticalLine2 {
    position: absolute;
    border-left: 2px solid rgb(255, 255, 255, 0.9);
    height: 690px;
    margin-left: 250px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Page logo image */
#archiveLogoContainer {
    position: absolute;
    margin-right: 50px;
    align-content: center;
    width: 180px;
    margin-top: 32px;
    margin-left: 40px;
    animation: logoFade 3s alternate;
}

@keyframes logoFade{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

/* Darkmode button */
.wrapper{
    position: absolute;
    margin-top: -72px;
    margin-left: -50px;
    width: 14px;
    height: 7px;
    padding-top: 40px;
    text-align: center;
}

.dark-mode{
    background: url(./images/wave2dark.png);
    background-size: cover;
    color: rgb(255, 255, 255);
}

/* Day State */
.toggle {
    position: relative;
    display: inline-block;
    width: 80px;
    margin-left: 50px;
    padding: 5px;  
    border-radius: 40px;
}
  
.toggle:before,
.toggle:after {
    content: '';
    display: table;
}
  
.toggle:after {
    clear: both;
}
  
.toggle-bg {
    position: absolute;
    top: 1px;
    left: -4px;
    width: 100%;  
    height: 70%;
    background-color: #C0E6F6;
    border-radius: 40px;
    border: 3px solid #81C0D5;
    transition: all .1s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
  
.toggle-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;  
    height: 100%;
    border: 1px solid red;
    border-radius: 40px;
    z-index: 2;
    opacity: 0;
}
  
.toggle-switch {
    position: relative;
    width: 15px;
    height: 15px;
    margin-left: 50px;
    background-color: #F5EB42;
    border: 4px solid #E4C74D;
    border-radius: 50%;
    transition: all .1s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
  
.toggle-switch-figure {  
    position: absolute;
    bottom: -1px;
    left: -60px;
    display: block;
    width: 70px;
    height: 15px;
    border: 8px solid #D4D4D2;
    border-radius: 20px;  
    background-color: #fff;
    transform: scale(0.4);
    transition: all .12s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
  
.toggle-switch-figureAlt {
    box-shadow: 
    42px -7px 0 -3px #FCFCFC,
    75px -10px 0 -3px #FCFCFC,
    54px 4px 0 -4px #FCFCFC,
    83px 7px 0 -2px #FCFCFC,
    63px 18px 0 -4px #FCFCFC,
    44px 28px 0 -2px #FCFCFC,
    78px 23px 0 -3px #FCFCFC;
    transition: all .12s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transform: scale(0);
}

/* Night State */
.toggle-input:checked ~ .toggle-switch {
    margin-left: 0;
    border-color: #DEE1C5;
    background-color: #FFFDF2;
}
  
.toggle-input:checked ~ .toggle-bg {
    background-color: #484848;
    border-color: #202020;
}
  
.toggle-input:checked ~ .toggle-switch .toggle-switch-figure {
    margin-left: 40px;
    opacity: 0;
    transform: scale(0.1);
}
  
.toggle-input:checked ~ .toggle-switch .toggle-switch-figureAlt {
    transform: scale(1);
}

/*Black line that seperates outputs*/
#hLine{
    height: 3px;
    background-color: black;
    border: none;
}
/*man filing papers img*/
.filing{
    position: absolute; 
    height: auto;
    width: auto;
    top: 180px;
    left: 635px;
    z-index: -1;
}