/* General margin & padding on page*/
* {
    margin: 0;
    padding: 0; 
}

/* Body settings */
body {
    background: url(images/wavedaymode.png);
    background-color: #bdcce3;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

/* Page presentation text */
#archiveText{
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    margin-top: 8px;
    margin-left: 450px;
    color: rgb(48, 41, 41);
}

/* Darkmode button */
#darkmodeBtn{
    position: absolute;
    left: 0px;
    top: -20px;
    opacity: 80%;
    background-color: rgb(105, 100, 100);
    color: rgb(3, 3, 3);
    border-radius: 5px;
}

.dark-mode{
    background: url(images/wave2dark.png);
    background-size: cover;
    color: rgb(255, 255, 255);
}

/* Main container */
#archiveSec{
    width: 1280px;
    height: 720px;
    margin-left: 319px;
    position: relative;
    border: 1px rgb(255, 255, 255, 0.3) solid;
    background: rgba(255, 255, 255, 0.3);
    border-width: 1px;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
}

/* Main page task overview */
.archiveOverview {
    width: 900px;
    height: 477px;
    position: absolute;
    border: 1px rgb(0, 0, 0) solid;
    top: 120px;
    left: 140px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}

#aOverviewOne{
    background-color:rgb(0, 191, 166, 0.9);
    display: block;
}

#aOverviewTwo{
    background-color: rgb(255, 207, 84, 0.9);
    display: none;
}

#aOverviewThree{
    background-color: rgb(219, 151, 165, 0.9);
    display: none;
}

#aOverviewFour{
    background-color: rgb(145, 184, 176);
    display: none;
}

/* Top section bar */
#participant-bar {
    width: 1280px;
    margin: 0 auto;
    text-align: right;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
}

/* Hyperlink logo to main-page */
#logoImage {
    position: absolute;
    top: 300px;
    left: 1042px;
    width: 150px;
    z-index: 1;
    animation: owlSlide 1.5s alternate;
}

@keyframes owlSlide{
    0%{
        left: 1250px;
    }
    100%{
        left: 1042px;
    }
}

#logoImage:hover {
    filter:drop-shadow(0px 0px 50px 
    rgb(0, 0, 0));
}

/* Hyperlink information speech-bubble */
#speechBubble2 {
    position: relative;
    background-color: aliceblue;
    width: 200px;
    height: 100px;
    top: 492px;
    left: 1000px;
    z-index: 0;
    border: 4px rgb(0, 0, 0) solid;
    border-radius: 18%;
    animation: bubbleFade 3s alternate;
}

@keyframes bubbleFade{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%
    }
}

#infoText {
    position: absolute;
    top: 510px;
    left: 970px;
    font-size: 19px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    z-index: 1;
    animation: bubbleFade 3s alternate;
} 

/* Archive task buttons */
.archiveBtns{
    position: absolute;
    width: 120px;
    height: 40px;
    border: solid 1px rgb(0, 0, 0);
    margin-top: -27px;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    border-radius: 3px;
}

#archiveBtnOne{
    margin-left: 140px;
    background-color: #00BFA6;
}

#archiveBtnTwo{
    margin-left: 260px;
    background-color: #ffcf54;
}

#archiveBtnThree{
    margin-left: 380px;
    background-color: #db97a5;
}

#archiveBtnFour{
    margin-left: 500px;
    background-color: rgb(145, 184, 176);
}
