* {
    margin: 0;
    padding: 0; 
}

body {
    position: relative;
}

h1 {
    position: relative;
    top: 20px;
    left: 600px;
}

#archiveSec{
    width: 1280px;
    height: 720px;
    left: 80px;
    top: 36px;
    position: relative;
    border: 1px rgb(0, 0, 0) solid;
    background-color: rgb(197, 200, 190);
    border-width: 1px;
}

#output {
    width: 980px;
    height: 590px;
    position: absolute;
    border: 1px rgb(0, 0, 0) solid;
    top: 90px;
    left: 20px;
    background-color: rgb(170, 170, 70);
}

/*Images*/
#pingu {
    position: absolute;
    top: 370px;
    left: 1040px;
    width: 250px;
}
<<<<<<< HEAD
#pinguText2 {
=======

/*Speechbubble in archive*/
#speechBubble2 {
    position: relative;
    background-color: aliceblue;
    width: 200px;
    height: 100px;
    top: 250px;
    left: 869px;
    z-index: 0;
    border: 4px rgb(0, 0, 0) solid;
    border-radius: 18%;
}

pre {
>>>>>>> d3a6c2976532046fc624551720604b9e291b6f43
    position: absolute;
    top: 287px;
    left: 753px;
    font-size: 19px;
    font-weight: bold;
    z-index: 1;
}

#pingu:hover {
    filter:drop-shadow(0px 0px 50px 
    rgb(0, 0, 0));
} 
