* {
    margin: 0;
    padding: 0;
}

header {
    left: 500px;
    position: relative;
}

/*Hovedboksen*/
#mainDiv {
    position: relative;
    left: 100px;
    width: 1000px;
    height: 700px;
    border: 3px solid black; 
}

/*Alt innenfor section*/
section {
    position: absolute;
    width: 250px;
    height: 700px;
    border: 3px solid black;    
}

#emner {
    position: absolute;
    top: 450px;
    left: 60px;
}
#deltager {
    position: absolute;
    top: 480px;
    left: 60px;
}

#frist {
    position: absolute;
    top: 510px;
    left: 60px;
}

#beskrivelse{
    position: absolute;
    top: 540px;
    left: 60px;
}

/*ALt innenfor aside*/
aside{
    position: relative;
    top: 70px;
    left: 400px;
    width: 500px;
    height: 600px;
    border: 3px solid black; 
}




